
body {
    font-family: sans-serif;
}

.contenedor{
    background-color:  whitesmoke;
    max-width: 1700px;
    margin: auto;
    
}


section{
    text-align: center;
}



h1{ font-size: 3.5em;}
h2{ font-size: 2.7em;}
h3{ font-size: 2em;}
p{ font-size: 1.25em;}


button {
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid rgba(0,0,0,0.5);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    color: white;
    background-color: blueviolet;

}

button:hover{
    background-color: rgb(101,33,165);
}

#hobbies {
    background-color: rgb(30,30,30);
    color: white;
    text-align: center;
}

#hobbies {
    padding: 100px 0px;
}

#hobbies h2{
    margin-top: 0;
}

#hobbies p{
    background-color: rgb(30,30,30);
    color: white;
    text-align: center;
}

#carta{
    margin 20px;
    border-radius: 15px;

}